# Modeling interest rate swaps using QuantLib

<a href="https://colab.research.google.com/github/aderdouri/ql_web_app/blob/master/ql_notebooks/irswapexample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

An interest rate swap is a financial derivative instrument in which two parties agree to exchange interest rate cash flows based on a notional amount from a fixed rate to a floating rate or from one floating rate to another floating rate.

Here we will consider an example of a plain vanilla USD swap with 10 million notional and 10 year maturity. Let the fixed leg pay 2.5% coupon semiannually, and the floating leg pay Libor 3m quarterly.

In [1]:
!pip install QuantLib-Python

Collecting QuantLib-Python
  Downloading QuantLib_Python-1.18-py2.py3-none-any.whl.metadata (1.0 kB)
Collecting QuantLib (from QuantLib-Python)
  Downloading quantlib-1.38-cp38-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (1.1 kB)
Downloading QuantLib_Python-1.18-py2.py3-none-any.whl (1.4 kB)
Downloading quantlib-1.38-cp38-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (20.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 20.0/20.0 MB 47.2 MB/s eta 0:00:00
Installing collected packages: QuantLib, QuantLib-Python
Successfully installed QuantLib-1.38 QuantLib-Python-1.18

In [3]:
import QuantLib as ql
calculation_date = ql.Date(20, 10, 2015)
ql.Settings.instance().evaluationDate = calculation_date

Here we construct the yield curve objects. For simplicity, we will use flat curves for discounting and Libor 3M. This will help us focus on the swap construction. Please refer to [curve construction example](http://gouthamanbalaraman.com/blog/quantlib-term-structure-bootstrap-yield-curve.html) for some details.

In [4]:
risk_free_rate = 0.01
libor_rate = 0.02
day_count = ql.Actual365Fixed()

discount_curve = ql.YieldTermStructureHandle(
    ql.FlatForward(calculation_date, risk_free_rate, day_count)
)

libor_curve = ql.YieldTermStructureHandle(
    ql.FlatForward(calculation_date, libor_rate, day_count)
)
#libor3M_index = ql.Euribor3M(libor_curve)
libor3M_index = ql.USDLibor(ql.Period(3, ql.Months), libor_curve)

**Remarque en date du 03/05/2025:**

Il faut afficher dans les inputs dans la UI :
- Base de clacul par LEG (360, ACT/ACT...)
- La devise
- L'index : (LIBIR, EURIBOR, SOFR).
- TERM or TENOR
- CALENDAR : (Pouvoir choisir : ql.UnitedStates.GovernmentBond, etc, ...)

- Dans la réponse de pricing, ajouter le schedule FIXED vs FLOAT (Voir ci-dessus l'exemple sur les CashFlows) avec les colonnes suivantes : Date, StartDate, EndDate, Rate, FlowAmount.

To construct the swap, we have to specify the fixed rate leg and floating rate leg. We construct the fixed rate and floating rate leg schedules below.

In [5]:
calendar = ql.UnitedStates(ql.UnitedStates.GovernmentBond)
settle_date = calendar.advance(calculation_date, 5, ql.Days)
maturity_date = calendar.advance(settle_date, 10, ql.Years)

fixed_leg_tenor = ql.Period(6, ql.Months)
fixed_schedule = ql.Schedule(settle_date, maturity_date,
                             fixed_leg_tenor, calendar,
                             ql.ModifiedFollowing, ql.ModifiedFollowing,
                             ql.DateGeneration.Forward, False)

float_leg_tenor = ql.Period(3, ql.Months)
float_schedule = ql.Schedule(settle_date, maturity_date,
                             float_leg_tenor, calendar,
                             ql.ModifiedFollowing, ql.ModifiedFollowing,
                             ql.DateGeneration.Forward, False)

Below, we construct a `VanillaSwap` object  by including the fixed and float leg schedules created above.

In [7]:
notional = 10000000
fixed_rate = 0.025
fixed_leg_daycount = ql.Actual360()
float_spread = 0.004
float_leg_daycount = ql.Actual360()

ir_swap = ql.VanillaSwap(ql.VanillaSwap.Payer, notional, fixed_schedule,
                         fixed_rate, fixed_leg_daycount, float_schedule,
                         libor3M_index, float_spread, float_leg_daycount)

We evaluate the swap using a discounting engine.

In [8]:
swap_engine = ql.DiscountingSwapEngine(discount_curve)
ir_swap.setPricingEngine(swap_engine)

#### Result Analysis

The cash flows for the fixed and floating leg can be extracted from the `ir_swap` object. The fixed leg cash flows are shown below:

In [ ]:
from pandas import DataFrame
DataFrame(
    [(cf.date(), cf.amount()) for cf in ir_swap.leg(0)],
    columns=["Date", "Amount"],
    index=range(1, len(ir_swap.leg(0))+1))

                  Date         Amount
1     April 27th, 2016  127083.333333
2   October 27th, 2016  127083.333333
3     April 27th, 2017  126388.888889
4   October 27th, 2017  127083.333333
5     April 27th, 2018  126388.888889
6   October 29th, 2018  128472.222222
7     April 29th, 2019  126388.888889
8   October 28th, 2019  126388.888889
9     April 27th, 2020  126388.888889
10  October 27th, 2020  127083.333333
11    April 27th, 2021  126388.888889
12  October 27th, 2021  127083.333333
13    April 27th, 2022  126388.888889
14  October 27th, 2022  127083.333333
15    April 27th, 2023  126388.888889
16  October 27th, 2023  127083.333333
17    April 29th, 2024  128472.222222
18  October 28th, 2024  126388.888889
19    April 28th, 2025  126388.888889
20  October 27th, 2025  126388.888889

The floating leg cash flows are shown below:

In [ ]:
from pandas import DataFrame
DataFrame(
    [(cf.date(), cf.amount()) for cf in ir_swap.leg(1)],
    columns=["Date", "Amount"],
    index=range(1, len(ir_swap.leg(1))+1))

                  Date        Amount
1   January 27th, 2016  60760.458147
2     April 27th, 2016  60098.647700
3      July 27th, 2016  60098.647700
4   October 27th, 2016  60760.458147
5   January 27th, 2017  60760.458147
6     April 27th, 2017  59436.867427
7      July 27th, 2017  60098.647700
8   October 27th, 2017  60760.458147
9   January 29th, 2018  62084.169572
10    April 27th, 2018  58113.397399
11     July 27th, 2018  60098.647700
12  October 29th, 2018  62084.169572
13  January 28th, 2019  60098.647700
14    April 29th, 2019  60098.647700
15     July 29th, 2019  60098.647700
16  October 28th, 2019  60098.647700
17  January 27th, 2020  60098.647700
18    April 27th, 2020  60098.647700
19     July 27th, 2020  60098.647700
20  October 27th, 2020  60760.458147
21  January 27th, 2021  60760.458147
22    April 27th, 2021  59436.867427
23     July 27th, 2021  60098.647700
24  October 27th, 2021  60760.458147
25  January 27th, 2022  60760.458147
26    April 27th, 2022  59436.867427
27     July 27th, 2022  60098.647700
28  October 27th, 2022  60760.458147
29  January 27th, 2023  60760.458147
30    April 27th, 2023  59436.867427
31     July 27th, 2023  60098.647700
32  October 27th, 2023  60760.458147
33  January 29th, 2024  62084.169572
34    April 29th, 2024  60098.647700
35     July 29th, 2024  60098.647700
36  October 28th, 2024  60098.647700
37  January 27th, 2025  60098.647700
38    April 28th, 2025  60098.647700
39     July 28th, 2025  60098.647700
40  October 27th, 2025  60098.647700

Some other analytics such as the fair value, fair spread etc can be extracted as shown below.

In [ ]:
print("%-20s: %20.3f" % ("Net Present Value", ir_swap.NPV()))
print("%-20s: %20.3f" % ("Fair Spread", ir_swap.fairSpread()))
print("%-20s: %20.3f" % ("Fair Rate", ir_swap.fairRate()))
print("%-20s: %20.3f" % ("Fixed Leg BPS", ir_swap.fixedLegBPS()))
print("%-20s: %20.3f" % ("Floating Leg BPS", ir_swap.floatingLegBPS()))

Net Present Value   :          -115054.034
Fair Spread         :                0.005
Fair Rate           :                0.024
Fixed Leg BPS       :            -9629.981
Floating Leg BPS    :             9642.042

#### Conclusion

Here we saw a simple example on how to construct a swap and value them. We evaluated the fixed and floating legs and then valued the `VanillaSwap` using the `DiscountingSwapEngine`.